!!!
%html{lang: "ja"}
  %head
    %meta{charset: "utf-8"}
  %body
    .main-chat
      .group
        .group__name
          = @group.name
        .group__member
          - @group.users.each do |user|
            = user.name
        = link_to 'Edit', edit_group_path(@group), class: 'edit-btn'
      .message
        - @messages.each do |message|
          .message-box{data: {message: {id: message.id}}}
            .upper-message
              .upper-message__user-name
                = message.user.name
              .upper-message__date
                = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
            .lower-message_message
              .message__text
                = message.content
              .message__photo
                - if message.image.present?
                  %span
                    = image_tag message.image, size: "100x80"
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = icon('fas', 'image', class: 'icon')
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'submit-btn'